<h1><%= @place.name %> page</h1>

<p>This place is <%= @place.name %></p>

<p>Place Type: <%= @place.activity %></p>

<p>Its located in <%= @place.location %></p>

<p>It has a rating of <%= @place.rating %></p>

<h2>Comments</h2>

<% @place.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>

<%= render "comments/form" %>

<p> 
<%= link_to "List of places", places_path %> |
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
</p>